
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h1 {
    text-align: center;
    background-color: yellow;
}

.column {
  width: 370px;
  float: left;
  border: 2px solid red;
  padding: 4px;
  margin: 3px;
  background-color: yellow;

 }

 ul { 
  list-style: none;
  padding-left:0; 
} 

body {
  font-size: medium;
  
}

h4 {
  text-align: center;
  text-decoration: crimson;
  
}

h2 {
  
  font: italic;
  
}

.important {
  color: green;
  font: italic;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .column {
    width: 95%;
    float: left;
    border: 2px solid red;
    padding: 4px;
    margin: 4px;
    background-color: yellow;
}
  }


